* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 14px;
	font-family: "Roboto", sans-serif;
}

header {
	height: 119px;
}

footer {
	background-color: aqua;
	height: 200px;
}

img {
	object-fit: cover;
}

/* Body */
.body {
	max-width: var(--max-width-primary);
	padding: 0 20px;
	overflow: hidden;
}

.banner {
	display: flex;
	justify-content: center;
	overflow: hidden;
}

.banner__left {
	width: 100%;
}

.banner__right {
	width: 100%;
	margin-left: 3px;
}

.banner__bottom {
	overflow: hidden;
}

/* Best brand */
.best-brand-container {
	margin: 20px 0;
}

.brand__icon {
	width: 20px;
}

.brand__title {
	display: flex;
	align-items: center;
	font-size: 20px;
	color: var(--color-primary);
}

.brand__products {
	display: flex;
	align-items: center;
	justify-content: center;
}
.brand__product-item {
	width: 230px;
	margin-right: 8px;
}

.brand__product-item :hover {
	cursor: pointer;
}

.brand__product-item-title {
}
.brand__product-item-price {
	margin-top: 10px;
}
.new-price {
	color: var(--color-primary);
	font-size: 18px;
}
.sale-price {
	text-decoration: line-through;
	font-size: 12px;
}

.header-navbar {
	background-color: green;
	height: 24%;
}

.header-container {
	background-color: blueviolet;
	height: 76%;
}
